body{
    background: hsla(0,0%,100%,.98);
    font-family: 'Roboto', 'Work sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 3000px;
}
::selection {
    background-color: #00b39b;
    color: #ffffff;
    text-shadow: none;
}
/*----------------------header---------------------------*/
#header{
    background-color: hsla(0,0%,100%,.98);
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    /*box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15) ;*/
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.container{
    grid-column: 2;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    margin-left: 17px;
    padding-top: 14px;
}
.nav-logo img{
    width: 268px;
    height: 33px;
}
.nav-menu{
    
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
}
.nav-menu ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #c3c3c3;
}
.nav-menu ul li a:hover{
    color: #0bb69f;
    font-size: ;
}
.nav-menu ul .menu-drop-down{
    display: none;
}
.nav-menu ul .dropdown:hover .menu-drop-down{
    display: block;
}
/*-------------------content-----------------------------*/
#content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
/*section 1*/
.section-1{
    margin-left: 17px;
    grid-column: 2;
}
.section-1 .logosection-1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.section-1 h1{
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: 'work sans';
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
}
.p-group{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.p-group p{
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
    color: #747474;
    max-width: 485px;
}
.p-group .group1{
    grid-column: 1;
}
.p-group .group2{
    grid-column: 2;
}
/*section 2 */
.section-2{
    margin-left: 17px;
    grid-column: 2;
    padding-top: 80px;
}
.box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
/*box 1--------*/
.box-grid .box-1{
    background: #00ccb1;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    grid-column: 1;
}
.box-grid .box-1:hover{
    background: #1ad3c2;
}
.in-box-1{
    font-family: work sans;
}
.in-box-1 h1{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}
.in-box-1 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
.in-box-select{
    padding-bottom: 20px;
}
.in-box-select select{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    -webkit-appearance:listbox;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    cursor: pointer;
    color: #ffffff;
    height: 40px;
    width: auto;
}
.in-box-select select option{
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}
/*box 2--------*/
.box-grid .box-2{
    background: #3d83df;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    grid-column: 2;
}
.box-grid .box-2:hover{
    background: #4a92eb;
}
.in-box-2{
    font-family: work sans;
}
.in-box-2 h1{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}
.in-box-2 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
/*box 3--------*/
.box-grid .box-3{
    background: #1b2734;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    grid-column: 3;
}
.box-grid .box-3:hover{
    background: #2c3e50;
}
.in-box-3{
    font-family: work sans;
}
.in-box-3 h1{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}
.in-box-3 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
/*section 3*/
.section-3{
    margin-left: 17px;
    grid-column: 2;
    padding-top: 30px;
}
.mark-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.section-3 .mark-grid .title-mark{
    grid-column: 1;
}
 .section-3 .mark-grid .title-mark h1{
    margin: 1em 0;
    font-family: Work Sans;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #00b39b;
    float: left;

    font-size: 26px;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
}
.section-3 .mark-grid .mark-all-logo{
    grid-column: 2;
    padding-left: 70px;
    padding-bottom: 20px;
}
..mark-all-logo{
    
}
.mark-all-logo svg{
    margin: 10px;
    fill: #c3c3c3;
}
.mark-all-logo svg:hover{
    fill: #0bb69f;
}
/*section 4*/
.content-2{
    background-color: #d5f5f5;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-bottom: 30px;
}
.section-4{
    grid-column: 2;
}
.in-section-4{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.in-section-4 .section-4-title{
    grid-column: 1;
    /*background-image: url(../img/logo_section\ 4.png);
    background-position: bottom;
    background-repeat:no-repeat;*/
}
.section-4-title h1{
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: Work Sans;
    font-weight: 300;
    letter-spacing: -.3px;
}
.section-4-title p{
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    font-family: arial;
    line-height: 1.7142857143;
    color: #747474 ;
}
.in-section-4 .section-4-card{
    grid-column: 2;
}
.in-section-4-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.in-section-4-card .card-left{
    grid-column: 1;
    padding-top: 60px;
}
.in-section-4-card .card-right{
    grid-column: 2;
    padding-top: 25px;
}
.card{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    height: 250px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    font-size: .8125em;
}
.card h3{
    color: #00b39b;
    margin: 0.5em 0;
    font-size: 1.5rem;
    margin: 1em 0;
    font-family: Work Sans;
    font-weight: 300;
    letter-spacing: -.3px;
}
.card p{
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    font-family: arial;
    line-height: 1.7142857143;
    color: #747474 ;
}
/*section 5 */
.section-5{
    grid-column: 2;
}
.section-5-title{

}
.section-5-title h1{
    font-size: 34px;
    color: #00b39b;
    margin: 1em 0;
    font-family: 'work sans';
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;

}
.section-5-title p{
    color: #747474;
    max-width: 540px;
    font-weight: 400;
    font-family: arial;
    line-height: 1.7142857143;
    padding-left: 220px;
    text-align: center;
}
.section-5-card{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.card-5{
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 320px;
    height: auto;
    color: #747474;
    margin: 6px;
    outline: 0;
    padding-bottom: 5px;
}
.card-5:hover{
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.20) ;
    border: 1px solid rgba(0,0,0,.03);
}
.card-5-title{
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
.card-5-titre{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    padding: 1.2em;
}
.card-5-btn{
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 7px;
    padding-bottom: 5px;
    background: #3d83df;
    font-family: Roboto;
    line-height: 1em;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease 0s;
}
.card-5-btn:hover{
    background: #0056b3;
}
/*section 6 */
.section-6{
    grid-column: 2;
}
.section-6-info{
    text-align: center;
    padding-bottom: 30px;
}
.section-6-info h1{
    font-size: 34px;
    font-family: 'Work sans';
    color: #333;
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
}
.section-6-info button{
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 15px 20px;
    background: #3d83df;
    font-family: Roboto;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease 0s;
    cursor: pointer;
}
.section-6-info button:hover{
    background: #0056b3;
}
/*-------------------footer-----------------------------*/
#footer{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.section-footer{
    grid-column: 2;
}
.section-footer p{
    font-size: 12px;
    color: #ababab;
    text-align: center;
}
.section-footer p a{
    text-decoration: none;
    color: #3d83df;
    outline: 0;
}
.section-footer p a:hover{
    text-decoration: underline;
}