body{
    background: hsla(0,0%,100%,.98);
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
::selection {
    background-color: #00b39b;
    color: #ffffff;
    text-shadow: none;
}
/*header*/
#header{
    background-color: hsla(0,0%,100%,.98);
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    /*box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15) ;*/
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.container{
    grid-column: 2;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    margin-left: 17px;
    padding-top: 14px;
}
.nav-logo img{
    width: 268px;
    height: 33px;
}
.nav-menu{
    
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
}
.nav-menu ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #c3c3c3;
}
.nav-menu ul li a:hover{
    color: #0bb69f;
    font-size: ;
}
.nav-menu ul .menu-drop-down{
    display: none;
}
.nav-menu ul .dropdown:hover .menu-drop-down{
    display: block;
}
/*content*/
#content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.section-1{
    margin-left: 17px;
    grid-column: 2;
}
.section-1 .logosection-1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.section-1 h1{
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
}
.p-group{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.p-group p{
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
    color: #747474;
    max-width: 450px;
}
.p-group .group1{
    grid-column: 1;
}
.p-group .group2{
    grid-column: 2;
}